<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<body>
<h2>show5 문서 (레이아웃 결과)</h2><br>
 <div layout:fragment="content">
   <table border="1">
   		<thead>
   			<tr>
   				<th>번호</th><th>종류</th>
   			</tr>
   		</thead>
   		<tbody>
   			<tr>
   				<th>1</th><th>김밥</th>
   			</tr>
   			<tr>
   				<th>2</th><th>비빔밥</th>
   			</tr>
   		</tbody>
   </table>
 </div>
</body>
</html>