<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="test" method="get">
	부서명: <select name="buserNum">
		<option value="10">총무부</option>
		<option value="20">영업부</option>
		<option value="30">전산부</option>
		<option value="40">관리부</option>
	</select>
	<input type="submit" value="확인">
	평가등급: <input type="radio" name="rating" value="all" checked="checked">전체
	<input type="radio" name="rating" value="a">a
	<input type="radio" name="rating" value="b">b
	<input type="radio" name="rating" value="c">c
</form>
</body>
</html>